:root{
    --fundo:#9e1e1e;
    --cartao-frente:#D2B48C;
    --cartao-verso:  #6b0c0c;
    --destaque:#ff2600fd;
    --preto:#000000;
    --branco:#ffffff;
    } 
    
    body{
        background-color: var(--fundo);
        margin: 0;
    }
    
    header{
        background-color: #000000;
        display: flex;
        justify-content: space-around;
        padding: 2rem;
    }
    
    header a{
        color: var(--branco);
        text-decoration: none;
    }
    
    footer{
        background-color: var(--preto);
        position:fixed;
        bottom:0;
        color: var(--branco);
        width: 100%;
        text-align: center;
    }

    #container {
        display: grid;
        gap: 3rem;
        padding: 4rem;
    }

    .cartao{
        background-color: var(--cartao-frente);
        padding: 40px;
        border: 1px soli var(--destaque);
        box-shadow: 5px 5px 20px 5px var(--preto);
    }

    .cartao:hoover{
        transform: scale(1.0);
    }
    
    .resposta-cartao{
        background-color: var(--cartao-verso);
        padding: 40px;
        color: var(--branco);
        display:none;
    }